
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusinessObject.Model.DataResult

@{
    var productDetailModel = Model.Result as BusinessObject.Model.Page.ProductDetailModel;

    var p = productDetailModel.productData;
    var list = productDetailModel.products;
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-20">
                <a class="breadcrumb-item text-dark" href="/Home">Home</a>
                <a class="breadcrumb-item text-dark" href="/Product/Shop">Shop</a>
                <span class="breadcrumb-item active">@p.ProName</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light" style="text-align:center">
                    @for (var i = 0; i < p.ProImg.Count(); i++)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img style="width: 400px; height: 450px; object-fit:contain;" src="@p.ProImg[i]" alt="Image">
                        </div>
                    }

                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@p.ProName</h3>
                <div class="d-flex mb-3">

                </div>

                @if (@p.Discount > 0)
                {
                    var priceDiscount = p.ProPrice - (p.ProPrice * p.Discount) / 100;

                    <h3 class="text-muted ml-2"><del style="color: #155724; margin-left: -9px">$@p.ProPrice</del></h3>
                    priceDiscount = Math.Round(priceDiscount, 2);
                    <h2 class="font-weight-semi-bold mb-4">$@priceDiscount</h2>
                }
                else
                {
                    <h2 class="font-weight-semi-bold mb-4">$@p.ProPrice</h2>
                }






                <p class="mb-4">
                    The product @p.ProName is designed with high quality, providing you with a smooth experience and suitability for various types of tasks, from gaming to office work. This makes it an excellent choice for both entertainment enthusiasts and those in need of a reliable tool for daily work.
                </p>


                <div class="d-flex align-items-center mb-3 pt-2">
                    @if (p.ProQuan > 0 && p.IsAvailable == true)
                    {
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" id="quan_input" onkeydown="return isValidInput(event)" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>


                    <a class="btn btn-outline-dark btn-square" data-pro_quan_available="@p.ProQuan" data-cart_quan_current="0" data-pro_id="@p.ProId" id="shopDetail_quan" data-quan_input="1" onclick="AddToCart(this)">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    @if (p.ProQuan == 1)
                    {
                        <div class="number-product ml-3" id="p-quan-avai" data-product_quan="@p.ProQuan">@p.ProQuan product available</div>
                    }
                    else
                    {
                        <div class="number-product ml-3" id="p-quan-avai" data-product_quan="@p.ProQuan">@p.ProQuan products available</div>
                    }
                    
                }else{
                        <div class="number-product ml-3" style="color:red;font-size:25px;"><strong>Product is unavailable</strong></div>
                    }
                </div>

                <div class="d-flex pt-2">
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="https://www.facebook.com/quochoang.nguyen.50767">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="https://twitter.com/Cleny393976">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="https://www.instagram.com/h.031511?fbclid=IwAR2HPrmoil7YY7sLEYiStevdH1sjaf2MYFJQc-pYaQSvdUM_8-7U4enEfSY">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Technical parameters</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">@p.ProName Description</h4>
                        <p>@p.ProDes</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3" style="text-align: center;">Technical parameters</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush" style="font-weight: bold; color: rgb(62, 60, 60); text-align: center;">
                                    @foreach (var item in p.ProAttribute)
                                    {
                                        <li class="list-group-item px-0">
                                            @item.Key
                                        </li>
                                    }

                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush" style="text-align: center;">
                                    @foreach (var item in p.ProAttribute)
                                    {
                                        <li class="list-group-item px-0">
                                            @item.Value
                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">



                @foreach (var item in list)
                {
                    <div class="product-item bg-light">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@item.ProImg[0]" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square"
                                   data-pro_quan_available="@item.ProQuan"
                                   data-cart_quan_current="0"
                                   data-pro_id="@item.ProId"
                                   onclick="AddToCart(this)">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>

                                <a class="btn btn-outline-dark btn-square" href="/ProductDetail?ProId=@item.ProId"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@item.ProName</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                @if (item.Discount > 0)
                                {
                                    var priceDiscount = @item.ProPrice - (@item.ProPrice * @item.Discount) / 100;
                                    priceDiscount = Math.Round(priceDiscount, 2);
                                    <h5>$@priceDiscount</h5>
                                    <h6 class="text-muted ml-2"><del>$@item.ProPrice</del></h6>
                                }
                                else
                                {
                                    <h5>$@item.ProPrice</h5>
                                }
                            </div>
                            
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

