@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var model = Model.Result;

    var userCartData = model.list as List<BusinessObject.Model.Page.UserCartData>;

    var address = model.addresses as List<BusinessObject.Model.Page.DeliveryAddressModel>;
}

<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">
                    Billing
                    Address
                </span>
            </h5>
            <div class="bg-light p-30 mb-5">

                <div class="ml-auto w-fit">
                    <button class="!text-[#3d464c] !text-[20px] font-bold !bg-[#eeeeee] hover:!bg-[#9b9b98] p-2" onclick="ShowListAddress()">
                        <ion-icon class="" name="location-outline"></ion-icon>
                        <span class="!text-[16px]">Change address</span>
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Full name</label>
                        <input type="hidden" name="fullname" id="ChosenFNA">
                        <p class="form-control" id="formFullname">@address[0].Fullname</p>
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Phone number</label>
                        <input type="hidden" name="phonenum" id="ChosenPNA" />
                        <p class="form-control" id="formPhone">@address[0].Phone</p>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Address</label>
                        <input type="hidden" name="address" id="ChosenADA" />
                        <p class="form-control" id="formAddress">@address[0].Address</p>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <label>Note</label>
                        <textarea cols="100" rows="4" id="description"></textarea>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">
                    Order
                    Total
                </span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    @{
                        double amount = 0;
                    }
                    @foreach (var item in userCartData)
                    {
                        <div class="d-flex justify-content-between">
                            @{
                                var totalPriceOfOneProduct = (item.Product.ProPrice - (item.Product.ProPrice * item.Product.Discount / 100)) * item.model.Quantity;
                                amount += totalPriceOfOneProduct;
                            }
                            <p><span>@item.model.Quantity x </span>@item.Product.ProName</p>
                            <p>$@totalPriceOfOneProduct</p>
                        </div>
                    }
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Total price</h6>
                        <h6>$@amount</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        @{
                            var bill = amount + 10;
                        }
                        <h5>$@bill</h5>
                        <input type="hidden" value="@bill" id="bill" />
                    </div>
                </div>
                <div class="bg-light p-30">
                    <input type="submit" class="btn btn-block btn-primary font-weight-bold py-3" onclick="PlaceOrder()" value="Place Order" style="color:black; ">
                </div>

            </div>
        </div>
    </div>
    <!-- Checkout End -->


    <div id="listAddress" style="display:none">
        @Html.Partial("Partial/DeliveryAddress/List", address);
    </div>   
    
    <div id="editAddress" style="display:none">
        @Html.Partial("Partial/DeliveryAddress/Edit");
    </div>

    <div id="createAddress" style="display:none">
        @Html.Partial("Partial/DeliveryAddress/Create");
    </div>
    <script src="~/js/order/order.js"></script>
